html
    head
        meta(charset="utf-8")
        title Карточка книги
        link(rel="icon" type="image/png" sizes="512x512" href="/favicon/favicon.png")
        link(rel="stylesheet" href="/css/styles.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css")
    body
        .book-card
            i.title(class="fa fa-book fa-lg")  #{book.title}
            h1 Автор: #{book.author}
            h1 Дата выпуска: #{book.releaseDate}
            h1 Жанр: #{book.genre}
            h1 Страниц: #{book.pages}

            if book.isAvailable
                i.available(class="fa fa-plus fa-lg")  В наличии
            else
                i.borrowed(class="fa fa-times fa-lg")  Выдана: #{book.borrowedBy}        
                h1 Дата получения: #{book.borrowDate}
                h1 Дата возврата: #{book.returnDate} 

            .book-actions
                if book.isAvailable
                    button(onclick=`bookDialog.showModal()`) Выдать книгу
                else 
                    form(action=`/books/${book.id}` method="POST")
                        button(type="submit") Вернуть
                        
                form(action=`/books` method="GET")
                    button(type="submit") Перейти к списку

            dialog#bookDialog
                form#borrowBookForm(action=`/books/${book.id}` method="POST")
                    br
                    input(type="text" name="readerName" placeholder="Имя читателя" required)
                    br
                    button(type="submit") Выдать
                    button(type="button" onclick="bookDialog.close()") Отмена