html
    head
        meta(charset="utf-8")
        title Карточка книги
        link(rel="stylesheet" href="/css/styles.css")
    body
        h1 Книга
        h1 Автор: #{book.author}
        h1 Название: #{book.title}
        h1 Дата выпуска: #{book.releaseDate}
        h1 Жанр: #{book.genre}
        h1 Страниц: #{book.pages}
        h1 Есть в наличии: #{book.isAvailable}
